page-interface-serveur {

    .server-ion-header {
    background: #df8f46;
    }
    .grid-basic-page {

  ion-col div {
    background-color: #e8dfd5;
    padding: 10px;
    border: 1px solid #df8f46;
    border-radius: 2px;
    text-align: center;
  }
  }

    .server-ion-title {
    background: #df8f46;
    }
    //android
    .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #563722;
    text-align: left;
    }
    
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #563722;
    background-color: transparent;
    }
    .content-md {
    color: #000;
    background-color: #563722;
    }
    .item-md {
    position: relative;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #563722;
    background-color: #ffffff;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
    //wp
    .toolbar-title-wp {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #563722;
    text-align: center;
    }
    //ios
    .toolbar-title-ios {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #563722;
    text-align: center;
    }
    //android
    .toolbar-background-md {
    border-color: #df8f46;
    background: #df8f46;
    }
    //wp
    .toolbar-background-wp {
    border-color: #df8f46;
    background: #df8f46;
    }
    //ios
    .toolbar-background-ios {
    border-color: #df8f46;
    background: #df8f46;
    }
    .server-ion-segment {
    background: #df8f46;
    }
    //android
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: #563722;
    opacity: 1;
    }
    //wp
    .segment-wp .segment-button.activated, .segment-wp .segment-button.segment-activated {
    border-color: #563722;
    opacity: 1;
    }
    //ios
    .segment-ios.segment-button.activated, .segment-ios .segment-button.segment-activated {
    border-color: #563722;
    opacity: 1;
    }
    //android
    .item-md {
    position: relative;
    padding-right: 0;
    padding-left: 16px;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #563722;
    background-color:#df8f46;
    box-shadow: none;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .segment-md .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #563722;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
    }
    .button-md {
    float: right;
    }
    .card-md  {
    font-size: 1.6rem;
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
    color: #563722;
    }
    //wp
    .segment-wp .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #563722;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
    }
    //ios
    .segment-ios .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 6px;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #563722;
    background-color: transparent;
    opacity: 0.7;
    transition: 100ms all linear;
    }
    //andoid
    .list-md .item-block .item-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .card-header-md {
    padding: 16px;
    font-size: 1.6rem;
    color: #563722;
    background: #df8f46;
    }
    .card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #563722;
    }
    //wp
    .list-wp.item-block .item-inner {
    border-bottom: 1px solid #563722;
    }
    //ios
    .list-ios > .item-block:first-child {
    border-top: 0.55px solid #563722;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0.55px solid #563722;
    }
    .list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #563722;
    }


    
}


